html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin: 0 0 5rem 0;
}

.btn {
  color: #000;
  background-color: rgba(95, 163, 150, 0.97);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(59, 150, 136, 0.97);
  transform: scale(1.1);
  color: #FFFFFF;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background-color: rgba(197, 191, 191, 0.5019607843);
  line-height: 1.5;
  letter-spacing: 0.2rem;
  height: 100vh;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
}

.header__titulo {
  font-size: 4.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #ff7f50;
  padding-top: 3rem;
  text-shadow: 2px 3px #030304;
}

.nav {
  background-color: #4a997f;
  font-size: 2rem;
  align-items: center;
  width: 100%;
}

.nav__lista {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}

/*seccion banner*/
.banner {
  background-image: url(../assets/img/banner-actividad.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  justify-content: end;
  padding: 1rem;
}

.banner__titulo {
  font-size: 2.9rem;
  color: #FFFFFF;
  text-shadow: 2px 3px #030304;
  opacity: 0.9;
}

.banner p {
  color: #F2F2F2;
  font-size: 1.7rem;
}

.banner__boton {
  font-size: 1.2rem;
}

/*seccion plantas*/
.plantas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  max-width: 90%;
  height: 128rem;
  gap: 1.5rem;
  margin: 1rem auto;
}

.planta:nth-child(1) {
  background-image: url("../../assets/img/card1.jpg");
  grid-row: 1/2;
  grid-column: 1/2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.planta:nth-child(2) {
  background-image: url("../assets/img/card2.jpg");
  grid-row: 2/3;
  grid-column: 1/2;
  background-size: 100% 105%;
  background-position: center;
  background-repeat: no-repeat;
}

.planta:nth-child(3) {
  background-image: url("../assets/img/card3.jpg");
  grid-row: 3/4;
  grid-column: 1/2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.planta:nth-child(4) {
  background-image: url("../assets/img/card4.jpg");
  grid-row: 4/5;
  grid-column: 1/2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.planta__titulo {
  font-size: 1.4rem;
  display: none;
}

.planta__parrafo {
  font-size: 0.9rem;
  text-align: left;
  display: none;
}

.planta__boton {
  font-size: 0.8rem;
  display: none;
}

/*seccion nosotros*/
.nosotros {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  grid-template-rows: 60rem;
}

.nosotros__contenedor-1 {
  background-image: url("../assets/img/nosotros2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: bottom center;
  color: #e1e1e1;
}

.nosotros__contenedor-2 {
  background-image: url("../assets/img/nosotros3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 3rem;
  margin: 0 auto;
  color: #F2F2F2;
  font-size: 1.6rem;
}

.nosotros__boton {
  font-size: 5rem;
  color: #cfd169;
  transition: color 0.3s;
}

.nosotros__boton:hover {
  color: #afaf1d;
}

.nosotros__titulo-1 {
  font-size: 3.8rem;
  text-align: center;
}

.nosotros__contenedor-2 {
  font-size: 2rem;
}

.nosotros__titulo-2 {
  font-size: 2.6rem;
}

.nosotros__parrafo {
  margin-top: 1rem;
  letter-spacing: 0.8px;
}

.nosotros__boton-2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.footer {
  grid-area: footer;
}
.footer__nav {
  display: flex;
}
.footer__list {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.footer__enlace {
  font-size: 2.8rem;
}
.footer__copyright {
  text-align: center;
}

@media (min-width: 480px) {
  /*seccion banner*/
  .banner {
    height: 40rem;
  }
  .banner__titulo {
    font-size: 3rem;
  }
  /*plantas*/
  .plantas {
    height: 92rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .planta:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    background-position: center;
    background-size: 134% 100%;
  }
  .planta:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
    background-position: center;
    background-size: 114% 100%;
  }
  .planta:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
    background-position: center;
    background-size: 114% 100%;
  }
  .planta:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
    background-position: right;
    background-size: 133% 100%;
  }
}
@media (orientation: landscape) {
  .banner {
    height: 38rem;
  }
  .banner__boton {
    font-size: 1.5rem;
  }
  .plantas {
    height: 50rem;
    max-width: 55rem;
  }
}
@media (min-width: 768px) {
  .nav__lista {
    flex-direction: column;
  }
  /*seccion banner*/
  .banner {
    height: 45rem;
  }
  .banner__titulo {
    font-size: 3.3rem;
  }
  .banner p {
    font-size: 2rem;
  }
  /*seccion plantas*/
  .plantas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 5rem auto;
    max-width: 56rem;
    height: 48rem;
    gap: 1rem;
  }
  .planta__titulo {
    font-size: 2.5rem;
    display: flex;
    padding: 1rem 0 0 1rem;
  }
  .planta__parrafo {
    font-size: 1.6rem;
    display: flex;
    padding: 0 0 0 1rem;
    color: #FFFFFF;
    opacity: 0.7;
  }
  .planta__boton {
    font-size: 1.4rem;
    display: flex;
    margin-left: 1rem;
    opacity: 0.9;
  }
  .planta:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/3;
    background-repeat: no-repeat;
    background-position: 35%;
    background-size: 133% 100%;
  }
  .planta:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150% 100%;
  }
  .planta:nth-child(3) {
    grid-row: 1/2;
    grid-column: 4/5;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: bottom;
  }
  .planta:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/5;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*seccion nosotros*/
  .nosotros {
    grid-template-rows: 44rem;
  }
  .nosotros__contenedor-1 {
    background-size: 100% 100%;
  }
  .nosotros__contenedor-2 {
    justify-content: space-around;
    padding: 5rem;
  }
  .nosotros__titulo-2 {
    font-size: 3.5rem;
  }
  .nosotros__titulo-1 {
    font-size: 4.2rem;
  }
  .nosotros__parrafo {
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 2rem;
  }
  .nosotros__boton {
    font-size: 5.7rem;
  }
  .nosotros__boton-2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .header__titulo {
    font-size: 4.8rem;
  }
  .nav__lista {
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*seccion banner*/
  .banner {
    height: 72rem;
    justify-content: center;
    padding: 1.5rem;
  }
  .banner__titulo {
    font-size: 4.5rem;
  }
  .banner p {
    font-size: 2.5rem;
  }
  .banner__boton {
    font-size: 1.6rem;
  }
  /*seccion plantas*/
  .plantas {
    height: 70rem;
    max-width: 88rem;
  }
  .planta__titulo {
    font-size: 2.5rem;
  }
  .planta__parrafo {
    line-height: 1.1;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .planta__boton {
    font-size: 1.6rem;
  }
  /* nosotros*/
  .nosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80rem;
  }
  .nosotros__titulo-1 {
    text-align: center;
    font-size: 4.5rem;
  }
  .nosotros__boton {
    font-size: 6.5rem;
  }
  .nosotros__contenedor-1 {
    background-size: cover;
  }
  .nosotros__contenedor-2 {
    text-align: center;
    line-height: 1.8;
    font-size: 2.4rem;
    justify-content: space-evenly;
  }
  .nosotros__titulo-2 {
    text-shadow: 2px 3px #030304;
    font-size: 4rem;
    margin-top: 2rem;
  }
  .nosotros__parrafo {
    font-size: 2rem;
  }
  .nosotros__boton-2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
