* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.btn {
    padding: 1rem;
    background-color: rgb(95 163 150 / 97%);
    border-radius: 10px;
    font-size: 1.5rem ;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(59 150 136 / 97%);
    transform: scale(1.1);
    color: #fff;
}

body {
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

.header__titulo {
    font-size: 4rem;
    padding: 2rem;
    margin-bottom: 1rem;
    color: coral;
    padding-top: 3rem;

}
.nav {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-size: 2rem;
    align-items: center;
    width: 100%;
}
.nav__lista {
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(../assets/img/banner-actividad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__titulo {
    font-size: 5rem;
    color: #e1e1e1;
    text-shadow: 2px 3px #030304;
    opacity: 0.9;
}

.banner p {
    color: #e1e1e1;
    font-size: 2.5rem;
}

.banner__boton {
    background-color: rgb(95 163 150 / 97%);
    font-size: 1.5rem ;
}
.main {
    grid-area: main;
}

section {
    margin: 0 0 5rem 0;
}

.plantas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: 40rem;
    width: 80rem;
    margin: 5rem auto;
}

.planta {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    color: #271717;
    text-align: center;
    padding: 1.5rem;
}
.planta__titulo {
    font-size: 2.2rem;
}
.planta__parrafo {
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
}
.planta__boton {
    font-size: 1.3rem;
}

.planta:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/3;
    background-image: url('../assets/img/card1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.planta:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
    background-image: url('../assets/img/card2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.planta:nth-child(3) {
    grid-row: 1/2;
    grid-column: 4/5;
    background-image: url('../assets/img/card3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.planta:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/5;
    background-image: url('../assets/img/card4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

/*nosotros*/

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50rem;
}
.nosotros__contenedor-1 {
    background-image: url('../assets/img/nosotros2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: bottom center;
    color: #e1e1e1;
}
.nosotros__contenedor-2 {
    background-image: url('../assets/img/nosotros3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5rem;
    margin: 0 auto;
    color: #e1e1e1;
    font-size: 1.6rem;
}
.nosotros__boton {
    font-size: 5.2rem;
    opacity: 0.8;
    margin: 2rem;
}
.nosotros__titulo-1 {
    opacity: 0.6;
    font-size: 3.3rem;
}

.nosotros__titulo-2 {
    font-size: 3rem;
    text-shadow: 1px 7px 0 #030304;
}

.footer {
    grid-area: footer;
}
@media (max-width: 1024px) {
    .nav {
        font-size: 1.5rem;
    }
    .plantas {
        height: 27rem;
        max-width: 60rem;
    }
    .planta__titulo {
        font-size: 1.8rem;
    }
    .planta__parrafo {
        font-size: 1rem;
        text-align: left;
    }
    .planta__boton {
        font-size: 1rem;
    }
    .planta:nth-child(4){
        background-size: 100% 120%;
    }
    
    .banner{
        height: 35rem;
        justify-content: end;
        padding: 1.5rem;
    }
    .banner__titulo {
        font-size: 3.3rem;
    }
    .banner p {
        font-size: 2rem;
    }
    .nosotros {
        grid-template-rows: 43rem;
    }
    .nosotros__contenedor-2 {
        padding: 1rem;
        text-align: center;
        letter-spacing: normal;
        line-height: normal;
        font-size: 1.5rem;
    }
    .nosotros__titulo-1 {
        text-align: center;
    }
} 

@media (max-width: 798px) {
    .nav__lista {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .banner{
        height: 30rem;
    }
    .banner__titulo {
        font-size: 3.3rem;
    }
    .banner p {
        font-size: 2rem;
    }

    .plantas {
        max-width: 44rem;
        height: 41rem;
        gap: 1rem;
    }

    .planta:nth-child(1) {
        background-position: bottom center ;
        background-size: 128% 100%;
    }
    .planta:nth-child(2) {
        background-position: bottom;
        background-size: 150% 100%;
    }
    .planta:nth-child(3) {
        background-position: bottom;
    }
    .nosotros__parrafo-2 {
        display: none;
    }
    .nosotros__contenedor-2 {
        justify-content: space-around;
        line-height: 1.3;
    }
    .nosotros__parrafo {
        letter-spacing: 1px;
    }
    .nosotros__boton {
        font-size: 1rem;
    }

} 



@media (max-width: 480px) {
    .banner__titulo {
        font-size: 2.7rem;
    }
    .banner p {
        font-size: 1.2rem;
    }
    .banner__boton {
        font-size: 1rem;
    }

    .plantas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        max-width:fit-content;
        height: 69rem;
        gap: 1.5rem;
        margin: 1rem 1rem;
    }
    .planta:nth-child(1){
        grid-row: 1/2;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta:nth-child(2){
        grid-row: 2/3;
        grid-column: 1/2;
        background-size: 100% 120%;
        background-position: center;
    }
    .planta:nth-child(3){
        grid-row: 3/4;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta:nth-child(4){
        grid-row: 4/5;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta__titulo {
        font-size: 1.4rem;
    }
    .planta__parrafo {
        font-size: 0.9rem;
        text-align: left;
    }
    .planta__boton {
        font-size: 0.8rem;
    }
    .nosotros{
        grid-template-columns: none;
        margin: 3rem 0;
    }
    .nosotros__boton-2 {
        font-size: 0.9rem;
    }
    .nosotros__titulo-1 {
        font-size: 3rem;
    }
    
    .nosotros__titulo-2 {
        font-size: 2.6rem;
    }
} 