@media (max-width: 1024px) {
    .nav {
        font-size: 1.5rem;
    }
    .plantas {
        height: 27rem;
        max-width: 60rem;
    }
    .planta__titulo {
        font-size: 1.8rem;
    }
    .planta__parrafo {
        font-size: 1rem;
        text-align: left;
    }
    .planta__boton {
        font-size: 1rem;
    }
    .planta:nth-child(4){
        background-size: 100% 120%;
    }
    
    .banner{
        height: 35rem;
        justify-content: end;
        padding: 1.5rem;
    }
    .banner__titulo {
        font-size: 3.3rem;
    }
    .banner p {
        font-size: 2rem;
    }
    .nosotros {
        grid-template-rows: 43rem;
    }
    .nosotros__contenedor-2 {
        padding: 1rem;
        text-align: center;
        letter-spacing: normal;
        line-height: normal;
        font-size: 1.5rem;
    }
    .nosotros__titulo-1 {
        text-align: center;
    }
} 

@media (max-width: 798px) {
    .nav__lista {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .banner{
        height: 30rem;
    }
    .banner__titulo {
        font-size: 3.3rem;
    }
    .banner p {
        font-size: 2rem;
    }

    .plantas {
        max-width: 44rem;
        height: 41rem;
        gap: 1rem;
    }

    .planta:nth-child(1) {
        background-position: bottom center ;
        background-size: 128% 100%;
    }
    .planta:nth-child(2) {
        background-position: bottom;
        background-size: 150% 100%;
    }
    .planta:nth-child(3) {
        background-position: bottom;
    }
    .nosotros__parrafo-2 {
        display: none;
    }
    .nosotros__contenedor-2 {
        justify-content: space-around;
        line-height: 1.3;
    }
    .nosotros__parrafo {
        letter-spacing: 1px;
    }
    .nosotros__boton {
        font-size: 1rem;
    }

} 



@media (max-width: 480px) {
    .banner__titulo {
        font-size: 2.7rem;
    }
    .banner p {
        font-size: 1.2rem;
    }
    .banner__boton {
        font-size: 1rem;
    }

    .plantas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        max-width:fit-content;
        height: 69rem;
        gap: 1.5rem;
        margin: 1rem 1rem;
    }
    .planta:nth-child(1){
        grid-row: 1/2;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta:nth-child(2){
        grid-row: 2/3;
        grid-column: 1/2;
        background-size: 100% 120%;
        background-position: center;
    }
    .planta:nth-child(3){
        grid-row: 3/4;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta:nth-child(4){
        grid-row: 4/5;
        grid-column: 1/2;
        background-size: 100% 100%;
    }
    .planta__titulo {
        font-size: 1.4rem;
    }
    .planta__parrafo {
        font-size: 0.9rem;
        text-align: left;
    }
    .planta__boton {
        font-size: 0.8rem;
    }
    .nosotros{
        grid-template-columns: none;
        margin: 3rem 0;
    }
    .nosotros__boton-2 {
        font-size: 0.9rem;
    }
    .nosotros__titulo-1 {
        font-size: 3rem;
    }
    
    .nosotros__titulo-2 {
        font-size: 2.6rem;
    }
} 