@mixin flex ($display, $direction, $justify, $align){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn ($color, $bg-color) {
    padding: 1rem;
    background-color: $color;
    border-radius: 10px;
    font-size: 1.5rem ;
    color: $bg-color;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}