@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid ($valor, $separacion){
    display: grid;
    grid-template-columns: repeat($valor, 1fr);
    gap:$separacion;
    @content;
}

@mixin btn ($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem ;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
