@media (orientation: landscape) {
    .banner {
    height: 38rem;
    }

    .banner__boton {
        font-size: 1.5rem;
    }

    .plantas {
        height: 50rem;
        max-width: 55rem;
    }
}